.most-popular-row--container{
    display: flex;
    flex-direction: row;
    padding-left:24px;
    padding-right:24px;
    padding-top:12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 12px 1px rgb(223, 223, 223, 0.6);
    border-radius: 8px;
    margin-bottom:12px;
    margin-right: 64px;
}
.most-popular--index{

}
#music-image{ 
    height:48px;
    width: 48px;
    border-radius: 16px;
    box-shadow: 1px 1px 16px 1px rgb(195, 195, 195, 0.6);
    margin-right: 24px;
}
#music-title{

}
#music-artist{

}
#music-duration{

}