.header--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  justify-content: space-between;
}
.header--search-input-container {
    
}
.icons--container {
    display: flex;
    flex-direction: row;
}
.icons--notification-container {
    margin-right:36px;
}
.icons--button-container{
    width: 140px;
    margin-left:32px;
    display: flex;
}
.icons--button{
    border-radius:20px;
    height:100%;
    width: inherit;
    background-color:red; 
    align-items:center;
    justify-content: center;
    display: flex; 
}
.icons--button p{
    margin:0px;
    padding:4px;
    color:white
}
