.sidemenu{
    width:25%;
    flex:1;
    display:flex;
    flex-direction: column;    
    padding-left:32px;
    padding-right:32px;
    box-shadow: -40px 1px 56px 1px gray;
    background-color: white;
   
}
.sidemenu--header{
    flex:1;
    display:flex;
    flex-direction: column;
    margin-top:24px;
    padding-bottom:24px
}

.sidemenu--options_container{
    flex:1;
    display:flex;
    flex-direction: column;
    
}
.sidemenu--options_title{
    display:flex;
}
.sidemenu--options_footer{
    display:flex;
    flex:4;
}
