.music-player--container{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-left:32px;
 padding-right:32px;
 padding-bottom:32px;
 justify-content:flex-start;
 flex:1;
 max-height:80vh
}
.music-player--music-card{
    background-color: white;
    box-shadow:1px 1px 12px 1px rgb(218, 218, 218, 0.6);
    border-radius:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
    padding-top:32px;
    padding-bottom: 32px;
}
.music-player--music-info{
    background-color: white;
    box-shadow:1px 12px 36px 1px rgb(218, 218, 218, 0.6);
    border-radius:12px;
    display: flex;
    width: 60%;
    height:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.music-player--disc{
    background-color: black;
    height:calc(100vh*0.2);
    width: calc(100vh*0.2);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-player--disc-hole{
    height:36px;
    width:36px;
    background-color: white;
    border-radius: 100px;
}
#music-player-title{
    color:var(--primary-font-color);
    font-weight:bold;
}
#music-player-artist{
    color:var(--secondary-font-color)
}
#music-player-section-title{
    color:var(--primary-font-color)
}
#music-player-label{
    color:var(--secondary-font-color)
}
.music-player--music-status{

}
.music-player--buttons{
    margin:0px;
    width: 60%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    justify-content: space-between;
    margin-top:36px;
}
.music-player--button-icon{
   
}
#pause-button{
    border-radius:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 16px 1px rgb(223, 223, 223, 0.6);
    height:40px;
    width:40px;
    background-color: white;
}

.pause-button--layer{
    border-radius:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 16px 1px rgb(223, 223, 223, 0.7);
    height:56px;
    width:56px;
    background-color: white;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    height:4px;
    background: rgb(209, 209, 209);
    border-radius: 1.3px;

  }
  input[type=range]::-webkit-slider-thumb {

    height: 16px;
    width: 16px;
    border-radius: 100px;
    background:var(--thumbs-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(190, 190, 190);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    border-radius: 1.3px;
 
  }
  input[type=range]::-moz-range-thumb {


    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
